{% extends 'home.html' %}
{% block content %}
    <div class="site-wrap" xmlns="http://www.w3.org/1999/html">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <div class="site-navbar-wrap js-site-navbar bg-white">

      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo"><a href="{% url 'index' %}">hire<strong class="font-weight-bold">Pros</strong> </a></h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li><a href="{% url 'professional' %}">Browse Candidates</a></li>
                      <li class="has-children">
                        <a href="category.html">For Employees</a>
                        <ul class="dropdown arrow-top">
                          <li><a href="category.html">Category</a></li>
                          <li><a href="#">Browse Candidates</a></li>
                          <li><a href="new-post.html">Post a Job</a></li>
                          <li><a href="#">Employeer Profile</a></li>
                          <li class="has-children">
                            <a href="#">More Links</a>
                            <ul class="dropdown">
                              <li><a href="#">Browse Candidates</a></li>
                              <li><a href="#">Post a Job</a></li>
                              <li><a href="#">Employeer Profile</a></li>
                            </ul>
                          </li>

                        </ul>
                      </li><li><a href="{% url 'aboutus' %}">About Us</a></li>
                      <li><a href="{% url 'login' %}"><span class="bg-primary text-white py-3 px-4 rounded"> <strong>👤</strong> Login</span></a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 150px;"></div>

<section id="contact-section">
           <div class="container">
             <h2>Contact Us</h2>
              <p>Email us and keep upto date with our latest news</p>
             <div class="contact-form">

                  <!-- First grid -->
               <div>
                 <i class="fa fa-map-marker"></i><span class="form-info">  New Baneshwor, Kathmandu </span><br>
                 <i class="fa fa-phone" > </i><span class="form-info">  01-7286466</span><br>
                 <i class="fa fa-envelope"></i><span class="form-info">  hirespro@gmail.com</span>
               </div>

                   <!-- second grid -->
           <div>
             <form>
               <input type="text" placeholder="Your Name" required>
               <input type="text" placeholder="Last Name"><br>
               <input type="Email" placeholder="Email" required><br>
               <input type="text" placeholder="Subject of this message"><br>
               <textarea name="message" placeholder="Message" rows="5" required></textarea><br>
               <button class="submit" >Send Message</button>
             </form>
               </div>
             </div>
           </div>
</section>
  </br>
      </br>
      </br>
  </div>
{% endblock content %}