{% extends 'home.html' %}
{% block content %}


    <div class="cont">
        <div class="container">
            <div class="contact-box">
                <div class="left">
                    <div class="myDiv">
                        <div style="height: 100px;"></div>
                        <h2><strong>📍</strong> Location</h2>
                        <p>New Baneshwor<br> Kathmandu</p>

                        <h2><strong>🕒</strong> Service Time</h2>
                        <p>Saturday and Sunday</p>


                        <h2><strong>✉️</strong> Get In Touch</h2>
                        <p>Email: info@hirespro.com <br>
                            Phone: 01545829 </p>
                    </div>

                </div>


                <div class="right">
                    <h2>Contact Us</h2>
                    <form name="contactform" class="contactform" action="/contactsave" method="post">
                        {% csrf_token %}
                        <label>
                            <input class="field" name="name" placeholder="Name *"
                                   type="text">
                        </label>
                        <label>
                            <input type="email" class="field" name="email"
                                   placeholder="Email *">
                        </label>
                        <label>
                            <input type="text" class="field" name="phone"
                                   placeholder="Phoneno *">
                        </label>
                        <label>
                            <textarea placeholder="message" name="message" class="field"></textarea>
                        </label>
                        <button type="submit" class="button">Send</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}