{#{% load socialaccount %}#}
{% load static %}
{#{% providers_media_js %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login | hirePros</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href={% static  "css/style.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/magnific-popup.css" %}>
    <link rel="stylesheet" href={% static "css/jquery-ui.css" %}>
    <link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
    <link rel="stylesheet" href={% static "css/owl.theme.default.min.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap-datepicker.css" %}>
    <link rel="stylesheet" href={% static "css/animate.css" %}>
    <link rel="stylesheet" href={% static "css/mediaelementplayer.css" %}>
    <link rel="stylesheet" href={% static "fonts/flaticon/font/flaticon.css" %}>
    <link rel="stylesheet" href={% static "css/aos.css" %}>
    <link rel="stylesheet" href={% static "css/LoginSignup.css" %}>
</head>
<body>


<div class="site-navbar-wrap js-site-navbar bg-white">

    <div class="container">
        <div class="site-navbar bg-light">
            <div class="py-1">
                <div class="row align-items-center">
                    <div class="col-2">
                        <h2 class="mb-0 site-logo"><a href="{% url 'index' %}">hire<strong
                                class="font-weight-bold">Pros</strong> </a></h2>
                    </div>
                    <div class="col-10">
                        <nav class="site-navigation text-right" role="navigation">
                            <div class="container">
                                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#"
                                                                                              class="site-menu-toggle js-menu-toggle text-black"><span
                                        class="icon-menu h3"></span></a></div>

                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li><a href="{% url 'professional' %}">For Candidates</a></li>
                                    <li class="has-children">
                                        <a href="category.html">For Employees</a>
                                        <ul class="dropdown arrow-top">
                                            <li><a href="category.html">Category</a></li>
                                            <li><a href="#">Browse Candidates</a></li>
                                            <li><a href="new-post.html">Post a Job</a></li>
                                            <li><a href="#">Employeer Profile</a></li>
                                            <li class="has-children">
                                                <a href="#">More Links</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Browse Candidates</a></li>
                                                    <li><a href="#">Post a Job</a></li>
                                                    <li><a href="#">Employeer Profile</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contactpage' %}">Contact</a></li>
                                    <li><a href="{% url 'aboutus' %}">About Us</a></li>
                                    <li><a href="{% url 'login' %}"><span
                                            class="bg-primary text-white py-3 px-4 rounded"> <strong>👤</strong> Login | Signup</span></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 113px;"></div>

<div class="loginCointainer">
    <div class="signinCointainer">
        <div class="loginForm">
            <div id="loginForm" class="loginFormCointainer">

                <div class="userInfo">
                    <h3 class="title">Quick Login</h3>
                    <div class="des">Login Your Account</div>
                </div>

                <div class="LoginNotice">
                    Username: <strong>Candidate</strong> or <strong>Employer</strong><br>
                    Password: <strong>Demo</strong>
                </div>

                <form name="loginForm" class="loginForm" action="/candidatelogin" method="post">
                    {% csrf_token %}
                    <div class="formGroup">
                        <input autocomplete="off" type="text" name="email" class="formGroupStyle"
                               id="username_or_email" placeholder="Email">
                    </div>
                    <div class="formGroup">
                        <input name="password" type="password" class="password required formGroupStyle"
                               id="login_password" placeholder="Password">
                    </div>
                    <div class="row formGroup info">
                        <div class="col-sm-6 col-xs-6">
                            <label for="user-remember-field" class="remember">
                                <input type="checkbox" name="remember" id="user-remember-field" value="true"> Keep me
                                signed in </label>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-right">
                            <a class="text-theme back-link LostPassword" href="#forgetPasswordCointainer"
                               title="Forgot Password" onclick="ShowPasswordCointainer()">Lost Your Password?</a>
                        </div>
                    </div>
                    <div class="formGroup">
                        <input type="submit" class="Button SubmitButton">
                    </div>
                    <div class="SocialMediaCointainer">
                        <div class="HorizontalLine"><span>or</span></div>
                        <div class="inner-social">
                            <div class="FacebookBox">
                                <a class="FacebookButton" href="#">Facebook</a>
{#                                {% provider_login_url "facebook" method="oauth2" %}#}

                            </div>
                            <div class="GoogleBox">
                                <a class="GoogleButton" href="#">Google</a>
                            </div>
                            <div class="LinkedinBox">
                                <a class="LinkedinButton" href="#">LinkedIn</a>
                            </div>
                            <div class="TwitterBox">
                                <a class="TwitterButton" href="#">Twitter</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!-- reset form -->
            <div id="forgetPasswordCointainer" class="forgetPasswordCointainer" style="display:none;">
                <div class="userInfo">
                    <h3 class="title">Reset Password</h3>
                    <div class="des">Please Enter Username or Email</div>
                </div>
                <form name="forgotpasswordform" class="forgetPasswordForm" action="" method="post">
                    <div class="LostPasswordFields">
                        <div class="formGroup">
                            <input type="text" name="user_login" class="formGroupStyle" id="lostpassword_username"
                                   placeholder="Username or E-mail">
                        </div>
                        <input type="hidden" id="security_lostpassword" name="security_lostpassword" value="4993fb3e3d"><input
                            type="hidden" name="_wp_http_referer" value="/wp-demo/careerup/login-register/">
                        <div class="formGroup">
                            <div class="row">
                                <div class="formButtonGroup"><input type="submit" class="Button SubmitButton"
                                                                    name="wp-submit" value="Get New Password"
                                                                    tabindex="100"></div>
                                <div class="formButtonGroup"><input type="button" class="Button CancelButton"
                                                                    value="Cancel" tabindex="101"></div>
                            </div>
                        </div>
                    </div>
                    <div class="lostpassword-link"><a href="#loginForm" class="back-link text-theme"
                                                      onclick="ShowPasswordCointainer()">Back To Login</a></div>
                </form>
            </div>
        </div>

    </div>

    <div class="signupCointainer">

        <div class="signupForm">
            <div id="signupForm" class="">

                <div class="userInfo">
                    <h3 class="title">Create New Account</h3>
                    <div class="des">Choose your Account Type</div>
                </div>

                <div class="formGroup formSpaceGap">
                        <div class="formButtonGroup"><input type="button" class="Button CandidateButton active_role" value="Candidate" tabindex="100" onclick="ShowForm()"></div>
                        <div class="formButtonGroup"><input type="button" class="Button EmployerButton" value="Employer" tabindex="101" onclick="ShowForm()"></div>
                </div>

                <!-- Candidate  -->
                <form name="signupForm" method="post" action='/candidatecreate' id="candidateForm" class="signupForm candidateForm">
                    {% csrf_token %}

                    <div class="formGroup">
                        <input type="text" class="formGroupStyle" name="username" id="register-username" placeholder="Username *">
                    </div>
                    <div class="formGroup">
                        <input type="text" class="formGroupStyle" name="email" id="register-email" placeholder="Email *">
                    </div>
                    <div class="formGroup">
                        <input type="password" class="formGroupStyle" name="password" id="password" placeholder="Password *">
                    </div>
                    <div class="formGroup">
                        <input type="password" class="formGroupStyle" name="confirm_password" id="confirmpassword" placeholder="Confirm Password *">
                    </div>
                    <div class="formGroup">
                        <input type="text" class="formGroupStyle" name="phone_no" id="register-phone" placeholder="Phone">
                    </div>
                    <div class="formGroup SelectWrapper">
                        <select id="mySelect register-candidate-category" class="Select ShowCandidate" name="category" tabindex="-1">
                            <option selected name="Select Category">Select Category</option>
                            <option name="Accounting / Finance">Accounting / Finance</option>
                            <option name="Automotive Jobs">Automotive Jobs</option>
                            <option name="Design, Art">Design, Art</option>
                            <option name="Education Training">Education Training</option>
                            <option name="Health">Health</option>
                            <option name="Human Resource">Human Resource</option>
                            <option name="Restaurant">Restaurant</option>
                            <option name="Telecommunications">Telecommunications</option>
                        </select>
                    </div>
                    <div class="formGroup">
                        <label for="register-terms-and-conditions">
                            <input type="checkbox" name="terms_and_conditions" value="on" id="register-terms-and-conditions" required="">You accept our <a href="#">Terms and Conditions and Privacy Policy</a></label>
                    </div>

                    <div class="formGroup">
                        <button type="submit" class="Button SubmitButton">Register now</button>
                    </div>
                </form>

				 <!-- Employee -->
                <form name="signupForm" method="post" action='/employeecreate' id="employeeForm" class="signupForm employeeForm" style="display: none;">
                    {% csrf_token %}

                    <div class="formGroup">
                        <input type="text" class="formGroupStyle" name="username" id="register-username" placeholder="Username *">
                    </div>
                    <div class="formGroup">
                        <input type="text" class="formGroupStyle" name="email" id="register-email" placeholder="Email *">
                    </div>
                    <div class="formGroup">
                        <input type="password" class="formGroupStyle" name="password" id="password" placeholder="Password *">
                    </div>
                    <div class="formGroup">
                        <input type="password" class="formGroupStyle" name="confirm_password" id="confirmpassword" placeholder="Confirm Password *">
                    </div>
                    <div class="formGroup">
                        <input type="text" class="formGroupStyle" name="company_name" id="register-company-name" placeholder="Company Name">
                    </div>
                    <div class="formGroup">
                        <input type="text" class="formGroupStyle" name="phone_no" id="register-phone" placeholder="Phone">
                    </div>
                    <div class="formGroup SelectWrapper">
                        <select id="mySelect register-candidate-category" class="Select ShowCandidate" name="category" tabindex="-1">
                            <option selected name="Select Category">Select Category</option>
                            <option name="Accounting / Finance">Accounting / Finance</option>
                            <option name="Automotive Jobs">Automotive Jobs</option>
                            <option name="Design, Art">Design, Art</option>
                            <option name="Education Training">Education Training</option>
                            <option name="Health">Health</option>
                            <option name="Human Resource">Human Resource</option>
                            <option name="Restaurant">Restaurant</option>
                            <option name="Telecommunications">Telecommunications</option>
                        </select>
                    </div>
                    <div class="formGroup">
                        <label for="register-terms-and-conditions">
                            <input type="checkbox" name="terms_and_conditions" value="on" id="register-terms-and-conditions" required="">You accept our <a href="#">Terms and Conditions and Privacy Policy</a></label>
                    </div>

                    <div class="formGroup">
                        <button type="submit" class="Button SubmitButton">Register now</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src={% static "js/script.js" %}></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>