{% extends 'base.html' %}
{% load static %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}

    <div class="mobile_nav">
      <div class="nav_bar">
        <i class="fa fa-bars nav_btn"> <a class="actve" href="#"><strong>🖥️</strong><span> Profile</span></a></i>
      </div>
      <div class="mobile_nav_items">
       <a class="actve" href="#"><strong>🖥️</strong><span> Profile</span></a>
      </div>
    </div>



                        <div class="box">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <a href="#" class="close" data-dismiss="alert"
                                               aria-label="close">&times;</a>
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}


                    <div class="forms" action="index.html" method="post">

                            <h1>Your Profile</h1>
                             <legend>Basic Information</legend>
                             <form action="" method="post">
                                {% csrf_token %}
                                {% for field in form %}

                                    <div class="form-group">
                                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                                        <input type="{{ field.field.widget.input_type }}"
                                               class="form-control"
                                               name="{{ field.name }}"
                                               id="id_{{ field.name }}"
                                               value="{{ field.value }}"
                                               placeholder="{{ field.field.widget.attrs.placeholder }}">
                                    </div>
                                {% endfor %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-white-primary">
                                        <i class="fa fa-signing"></i> Update
                                    </button>
                                </div>
                            </form>

      </div>
                        </div>


{% endblock %}