{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="site-wrap">

        <div style="height: 145px;"></div>


        <div class="container">
            <div class="row1">
                <div class="tstbox">
                    <div class="formf">
                        <form method="post" action="/seekers/apply">
                            {% csrf_token %}
                            <h2>Candidate Detail</h2>
                            <div class="item">


                                <p>Name<span class="required">*</span></p>
                                <div class="name-item">
                                    <input type="text" name="seekerfname" placeholder="First" required/>
                                    <input type="text" name="seekerlname" placeholder="Last" required/>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="item">
                                    <p>Email<span class="required">*</span></p>
                                    <input type="text" name="seekeremail" required/>
                                </div>
                                <div class="item">
                                    <p>Phone<span class="required">*</span></p>
                                    <input type="text" name="seekerphone" required/>
                                </div>
                                <div class="item">
                                    <p>Profession<span class="required">*</span></p>
                                    <input type="text" name="seekerprofession" required/>
                                </div>
                                <div class="item">
                                    <p>Location<span class="required">*</span></p>
                                    <input type="text" name="seekeraddress" required/>
                                </div>

                            </div>
                                  <div class="btn-block">
                <button type="submit">Post</button>
            </div>


                        </form>

                    </div>
                </div>

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

        </div>
    </div>
    </div>
    </div>
    </div>

{% endblock content %}
