{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>

    <div style="height: 150px;"></div>
    <div class="mobile_nav">
        <div class="nav_bar">
            <i class="fa fa-bars nav_btn"></i>
        </div>
        <div class="mobile_nav_items">
            <a href="userdash.html"><strong>🖥️</strong><span> Profile</span></a>
            <a class="actve" href="usertable.html"><strong>📊</strong><span> Tables</span></a>
            <a href="#"><strong>📙</strong><span> About</span></a>
        </div>
    </div>

    <div class="sidebar">
        <div class="profile_info">
            <img src="images/bsal.jpg" class="profile_image" alt="user picture">
            <h4>Bishal Jung</h4>
        </div>
        <a href="userdash.html"><strong>🖥️</strong><span> Profile</span></a>
        <a class="actve" href="usertable.html"><strong>📊</strong><span> Tables</span></a>
        <a href="#"><strong>📙</strong><span> About</span></a>
    </div>


    <div class="content">
        <h2>Applied Jobs</h2>

        <input type="search" class="light-table-filter" data-table="order-table" placeholder="Search Apply Jobs">

        <table class="order-table table">
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Post</th>
                <th>Salary</th>
                <th>Cancel</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Thapa Cafe</td>
                <td>Cook</td>
                <td>Rs 17000</td>
                <td>
                    <button type="submit"><strong>❌</strong></button>
                </td>
            </tr>
            <tr>
                <td>H20 Clothings</td>
                <td>Salesman</td>
                <td>Rs 17000</td>
                <td>
                    <button type="submit"><strong>❌</strong></button>
                </td>
            </tr>
            <tr>
                <td>Davis Motors</td>
                <td>Bike Mechanic</td>
                <td>Rs 17000</td>
                <td>
                    <button type="submit"><strong>❌</strong></button>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
{% endblock content %}