<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | Discussion Forum</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
    <meta charset="UTF-8"/>
</head>

<body>

<div class="PageNav" id="HideNav">

    <div style="padding-top:20px; margin-left:10px; margin-top:50px; float:left;">
        <ul>
            <li>
                <a href={% url 'index' %} class="side_link flex_block">
                <div>HomePage</div>
                <div class="arrow" style="float:right; color:white;">&#8811;</div>
                </a>
            </li>
            <li>
                <a href={% url 'dashboard' %} class="side_link flex_block active" >
                <div>Dashboard</div>
                <div class="arrow" style="float:right; color:white;">&#8811;</div>
                </a>
            </li>
            <li>
                <a href={% url 'admindash' %} class="side_link flex_block" >
                <div>Admin</div>
                <div class="arrow" style="float:right;">&#8811;</div>
                </a>
            </li>
            <li>
                <a href={% url 'customerdash' %} class="side_link flex_block" >
                <div>Customer</div>
                <div class="arrow" style="float:right; color:white;">&#8811;</div>
                </a>
            </li>
        </ul>
    </div>
</div>

{% block dashcontent %}
<div class="dashboard" id="ExpandDashboard">
    <div class="bodyDashboard">
        <div class="firstBody">
            <div style="font-size: 22px; width:405px; float:left;">
                <span class="dash">Dashboard</span>
                <div style="font-size: 20px;" class="text_below">Welcome to hirePros Dashboard</div>
            </div>
            <div class="yellowHover" style="margin-left:auto; height:30px; float:right;">
                <button class="dashButton">{% load static %}
                    <img style="height:20px; margin-left:5px; margin-top:2px;" src="static/images/setting_icon.png"
                         alt="Setting Icon"/> &nbsp; Settings &nbsp;
                </button>
            </div>
        </div>

        <div class="secondBody">

            <a href={% url 'admindash' %}>
                <div class="Card">
                    <div class="CardHeadS">
                        <div style="margin-left: 150px; float:left;">
                            {% load static %}
                            <img src="static/images/crud_user.png"/>
                        </div>
                        <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">Admin Dashboard</h3>
        </span>
                        </div>
                    </div>
                    <div class="CardFooter" style="font-size:18px;">
                        Create, Retrieve, Edit & Delete
                    </div>
                </div>
            </a>

            <a href={% url 'customerdash' %}>
                <div class="Card">
                    <div class="CardHeadS">
                        <div style="margin-left: 150px; float:left;">
                            {% load static %}
                            <img src="static/images/crud_user.png"/>
                        </div>
                        <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">Customer Dashboard</h3>
        </span>
                        </div>
                    </div>
                    <div class="CardFooter" style="font-size:18px;">
                        Create, Retrieve, Edit & Delete
                    </div>
                </div>
            </a>

        </div>
    </div>

  {% endblock dashcontent %}
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>