{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="site-blocks-cover overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12" data-aos="fade">
                    <h1>Find Job &nbsp;</h1>
                    &nbsp;
                    <form id="job-main-form" method="get" action="{% url 'searh' %}" class="job-main-form">
                        <div class="row mb-3">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-8 mb-3 mb-md-0">
                                     <div class="form-group">
                                            <label for="profession"></label>
                                            <input type="text" id="profession" name="position"
                                                   placeholder="Position you are looking for" class="form-control">
                                    </div>
                                    <div class="col-md-8 mb-3 col-md-0">
                                        <div class="input-wrap">
                                            <span class="icon icon-room"></span>&nbsp;
                                             <label for="location"></label>
                                            <input type="text" id="location" name="location"
                                                   placeholder="Any particular location?" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>&nbsp;
                            &nbsp;
                            <div class="col-md-3 mb-3 col-md-0">
                                <b>
                                    <button type="submit" class="btn btn-search btn-primary btn-block"
                                            href="{% url 'jobs' %}"> Find
                                    </button>
                                </b>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="services bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-4 ftco-animate py-5 nav-link-wrap aside-stretch">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link px-4 active" id="v-pills-master-tab" data-toggle="pill"
                           href="#v-pills-master" role="tab" aria-controls="v-pills-master" aria-selected="true"><span
                                class="mr-3 flaticon-calculator"></span> Bank and Finance</a>

                        <a class="nav-link px-4" id="v-pills-buffet-tab" data-toggle="pill" href="#v-pills-buffet"
                           role="tab" aria-controls="v-pills-buffet" aria-selected="false"><span
                                class="mr-3 flaticon-wrench"></span> Automotive Jobs</a>

                        <a class="nav-link px-4" id="v-pills-fitness-tab" data-toggle="pill" href="#v-pills-fitness"
                           role="tab" aria-controls="v-pills-fitness" aria-selected="false"><span
                                class="mr-3 flaticon-worker"></span> Construction</a>

                        <a class="nav-link px-4" id="v-pills-reception-tab" data-toggle="pill" href="#v-pills-reception"
                           role="tab" aria-controls="v-pills-reception" aria-selected="false"><span
                                class="mr-3 flaticon-telecommunications"></span> Telecommunications</a>

                        <a class="nav-link px-4" id="v-pills-sea-tab" data-toggle="pill" href="#v-pills-sea" role="tab"
                           aria-controls="v-pills-sea" aria-selected="false"><span
                                class="mr-3 flaticon-stethoscope"></span> Healthcare</a>

                        <a class="nav-link px-4" id="v-pills-spa-tab" data-toggle="pill" href="#v-pills-spa" role="tab"
                           aria-controls="v-pills-spa" aria-selected="false"><span
                                class="mr-3 flaticon-computer-graphic"></span> Design, Art & Multimedia</a>

                        <a class="nav-link px-4" id="v-pills-wifi-tab" data-toggle="pill" href="#v-pills-wifi"
                           role="tab" aria-controls="v-pills-wifi" aria-selected="false"><span
                                class="mr-3 flaticon-trolley"></span> Transportation </a>

                        <a class="nav-link px-4" id="v-pills-resto-tab" data-toggle="pill" href="#v-pills-resto"
                           role="tab" aria-controls="v-pills-resto" aria-selected="false"><span
                                class="mr-3 flaticon-restaurant"></span> Resto bar</a>
                    </div>
                </div>
                <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center">

                    <div class="tab-content pl-md-5" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" id="v-pills-master" role="tabpanel"
                             aria-labelledby="v-pills-master-tab">
                            <h2 class="mb-4">Banks And Finance</h2>
                            <p class="lead">Banking and Finance industry is one of the most sought after career paths in
                                Nepal. Over the past few weeks, various vacancies have been announced by leading banks,
                                Insurance and financial institutions.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-buffet" role="tabpanel"
                             aria-labelledby="v-pills-buffet-tab">
                            <span class="icon mb-3 d-block flaticon-tray"></span>
                            <h2 class="mb-4">Automotive Jobs</h2>
                             <p class="lead">An Automotive Technician is responsible for the repair and
                                 preventive maintenance of automotive equipment.
                                 The Auto Mechanic can work on brakes, engines, steering, and electrical systems.
                                 An understanding of engines is essential, and prior automotive experience can be beneficial.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-fitness" role="tabpanel"
                             aria-labelledby="v-pills-fitness-tab">
                            <span class="icon mb-3 d-block flaticon-woman"></span>
                            <h2 class="mb-4">Construction</h2>
                            <p class="lead">The construction industry produces a wide range of products, and the
                                enterprises are equally diverse. However, the vast majority of enterprises involved in development of new sites.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-reception" role="tabpanel"
                             aria-labelledby="v-pills-reception-tab">
                            <span class="icon mb-3 d-block flaticon-receptionist"></span>
                            <h2 class="mb-4">Telecommunication</h2>
                            <p class="lead">Telecommunications, also known as
                                telecom, is the exchange of information over significant distances
                                by electronic means and refers to all types of voice, data and video transmission.
                                This is a broad term that includes a wide range of information transmitting
                                technologies such as telephones (wired and wireless), microwave communications
                                , fiber optics, satellites, radio and television broadcasting, the internet and telegraphs.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-sea" role="tabpanel" aria-labelledby="v-pills-sea-tab">
                            <span class="icon mb-3 d-block flaticon-deck-chair"></span>
                            <h2 class="mb-4">Healthcare</h2>
                             <p class="lead">Health care, health-care, or healthcare is the
                                 maintenance or improvement of health via the prevention, diagnosis, treatment, recovery, or
                                 cure of disease, illness, injury, and other physical and mental impairments in people.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>

                        <div class="tab-pane fade" id="v-pills-spa" role="tabpanel" aria-labelledby="v-pills-spa-tab">
                            <span class="icon mb-3 d-block flaticon-spa"></span>
                            <h2 class="mb-4">Design, Art & Multimedia</h2>
                             <p class="lead">Multimedia arts & design is the creation of images and content using the
                                 latest design techniques and
                                 technology. Multimedia art includes animation, audio, interactivity, still images, text, and video.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-wifi" role="tabpanel" aria-labelledby="v-pills-wifi-tab">
                            <span class="icon mb-3 d-block flaticon-wifi-router"></span>
                            <h2 class="mb-4">Transportation</h2>
                             <p class="lead">Transportation careers includes jobs in industries that
                                 transport passengers and cargo via plane, rail, bus, boat, transit system,
                                 and other modes of private and public transportation.
                                 Transportation jobs might also involve scenic and sightseeing transportation.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-resto" role="tabpanel"
                             aria-labelledby="v-pills-resto-tab">
                            <span class="icon mb-3 d-block flaticon-wifi-dico-ball"></span>
                            <h2 class="mb-4">Restaurant &amp; Bar</h2>
                             <p class="lead">Bar staff – also referred to as bartenders –
                                 are mainly employed to serve drinks at pubs, restaurants and other
                                 establishments which are licensed to sell alcoholic beverages. The main duties of a bar
                                 worker is to attend the customer's needs, by either serving them drinks at the bar or with table service.</p>
                            <p><a href="{% url 'jobs' %}" class="btn btn-primary">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Our Top Jobs </span>
            <h2>Most Search Jobs</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 dish-menu">

            <div class="nav nav-pills justify-content-center ftco-animate" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link py-3 px-4 active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="flaticon-calculator"></span> Finance</a>
              <a class="nav-link py-3 px-4" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="flaticon-computer-graphic"></span> IT</a>
              <a class="nav-link py-3 px-4" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span class="flaticon-telecommunications"></span> Communication</a>
            </div>

            <div class="tab-content py-5" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                        <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Rastriya Banijya Bank</span>
                              <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                              <span class="d-block"><span class="flaticon-user"></span>Assistant Manager</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 85,000/- &mdash; Rs 95,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                       <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Prabhu  Bank</span>
                              <span class="d-block"><span class="icon-room"></span> Pokhara</span>
                              <span class="d-block"><span class="flaticon-user"></span>Front Desk Officer</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 50,000/- &mdash; Rs 65,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                     <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                       <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Standard Chartered Bank</span>
                              <span class="d-block"><span class="icon-room"></span> Biratngar</span>
                              <span class="d-block"><span class="flaticon-user"></span>Loan Officer </span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 70,000/- &mdash; Rs 85,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                        <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>NIC AISA Bank</span>
                              <span class="d-block"><span class="icon-room"></span> Dhangadi</span>
                              <span class="d-block"><span class="flaticon-user"></span>Branch Manager</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 85,000/- &mdash; Rs 100,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- END -->

              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="row">
                   <div class="col-lg-6">
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                       <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Worldlink Communications Ltd.</span>
                              <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                              <span class="d-block"><span class="flaticon-user"></span>Field Officer</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 55,000/- &mdash; Rs 60,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                        <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Subisu Network </span>
                              <span class="d-block"><span class="icon-room"></span> Lalitpur</span>
                              <span class="d-block"><span class="flaticon-user"></span>IT Manager</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 85,000/- &mdash; Rs 95,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">


                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                       <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>LeapFrog Inc </span>
                              <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                              <span class="d-block"><span class="flaticon-user"></span>JAVA Programmer</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 95,000/- &mdash; Rs 115,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                        <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>VoxCrow Inc</span>
                              <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                              <span class="d-block"><span class="flaticon-user"></span>Full Stack Developer</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 85,000/- &mdash; Rs 100,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- END -->

              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="row">
                   <div class="col-lg-6">
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                       <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Nepal Telecom</span>
                              <span class="d-block"><span class="icon-room"></span> Bhaktapur</span>
                              <span class="d-block"><span class="flaticon-user"></span>Auditor</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 45,000/- &mdash; Rs 55,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                        <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Ncell Axiata</span>
                              <span class="d-block"><span class="icon-room"></span> Damak</span>
                              <span class="d-block"><span class="flaticon-user"></span>Sales Manager</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 75,000/- &mdash; Rs 105,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                       <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>CG Telecom</span>
                              <span class="d-block"><span class="icon-room"></span> Nawalparasi</span>
                              <span class="d-block"><span class="flaticon-user"></span>Finance Manager</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 105,000/- &mdash; Rs 115,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="menus d-flex ftco-animate">
                      <div class="text d-flex">
                        <div class="one-half">
                           <p>
                              <span class="d-block"><span class="flaticon-calculator"></span>Smart Telecom</span>
                              <span class="d-block"><span class="icon-room"></span> Kavrepalanchok</span>
                              <span class="d-block"><span class="flaticon-user"></span>Country Manager</span>
                              <span class="d-block"><span class="icon-money mr-1"></span> Rs 125,000/- &mdash; Rs 145,000/-</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </section>

    <!-- here is sentence break -->
    <div class="site-blocks-cover overlay inner-page" style="background-image: url('{% static "images/hero_1.jpg" %}')"
         ;
         data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 text-center" data-aos="fade">
                    <h1 class="h3 mb-0">Your Dream Job</h1>
                    <p class="h3 text-white mb-5">Is Waiting For You</p>
                    <p><a href="{% url 'jobs' %}" class="btn btn-info py-2 px-4">Find Jobs</a> <a href="{% url 'jobs' %}"
                                                                                   class="btn btn-warning py-2 px-4">Apply
                        For A Job</a></p>

                </div>
            </div>
        </div>
    </div>



    <div class="site-section">
        <div class="container">
            <div class="row">
               <div class="container">

        <div class="text-center mb-5 section-heading">
          <h2>Success Stories</h2>
        </div>

        <div class="d-block d-md-flex border-bottom">
          <div class="text-center p-4" data-aos="fade">
            <h2 class="h4">More Jobs Every Skills</h2>
            <p>Start up hurdles and solution <br>
            By Bishal Kami May 8,2020</p>
            <span class="flaticon-worker display-3 mb-3 d-block text-primary"></span>
            <h2 class="h4">Cobler By Profession</h2>
            <p><a href="{% url 'jobs' %}">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
          <div class="text-center p-4 item" data-aos="fade">
          <h2 class="h4">More Jobs Every Day</h2>
            <p>Start up hurdles and solution <br>
            By Astinvone de Starx June 20,2020</p>
            <span class="flaticon-wrench display-3 mb-3 d-block text-primary"></span>
            <h2 class="h4">Programmer By Profession</h2>
            <p><a href="{% url 'jobs' %}">Read More <span class="icon-arrow-right small"></span></a></p>
           </div>
        <div class="d-block d-md-flex">
          <div class="text-center p-3 item" data-aos="fade">
           <h2 class="h4">Create your carrer</h2>
            <p>Know your job abilities <br>
            By Manish BC March 13,2020</p>
            <span class="flaticon-stethoscope display-3 mb-3 d-block text-primary"></span>
            <h2 class="h4">Doctor By Profession</h2>
            <p><a href="{% url 'jobs' %}">Read More <span class="icon-arrow-right small"></span></a></p>
            </div>
          <div class="text-center p-3 item" data-aos="fade">
            <h2 class="h4">More Job </h2>
            <p>Find Your Designation<br>
            By Sourya Silwal January 2,2020</p>
            <span class="flaticon-calculator display-3 mb-3 d-block text-primary"></span>
            <h2 class="h4">Banker By Profession</h2>
            <p><a href="{% url 'jobs' %}">Read More <span class="icon-arrow-right small"></span></a></p>
          </div>
        </div>
      </div>
      </div>
            </div>
            <div class="nonloop-block-16 owl-carousel">
                {% for job in jobs %}
                    <div class="border rounded p-4 bg-white">
                        <h2 class="h5">{{ job.company_name }}</h2>
                        {% if job.type == '1' %}
                            <span class="badge featured-badge badge-success">Full time</span>
                        {% elif job.type == '2' %}
                            <span class="badge featured-badge badge-primary">Part time</span>
                        {% else %}
                            <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                        {% endif %}
                        <p>
                            <span class="d-block"><span class="icon-suitcase"></span> {{ Bank }}</span>
                            <span class="d-block"><span class="icon-room"></span> Chitwan</span>
                            <span class="d-block"><span
                                    class="icon-money mr-1"></span> Rs 55,000/- &mdash; Rs 70,000/- </span>
                        </p>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi neque fugit
                            tempora,
                            numquam voluptate veritatis odit id, iste eum culpa alias, ut officiis omnis itaque ad, rem
                            sunt
                            doloremque molestias.</p>

                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                        <h2 class="mb-5">Experts For Suggestion</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="#" class="h-100 feature-item" style="background-color: #abb5bf">
                            <img src="{{ img.person1 }}" class="img-thumbnail" alt="person">
                            <h2>CEO and Founder Of hiresPRo</h2>
                            <p>
                                <span class="d-block"><span></span> 🎓 Harvard University</span>
                                <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                                <span class="d-block"><span class="icon-phon mr-1"></span>📞 987465125</span><br>
                                <span class="d-block"><span class="icon-facebook mr-1">       &nbsp;  <span
                                        class="icon-instagram mr-1"></span></span></span>
                            </p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="#" class="h-100 feature-item" style="background-color: #abb5bf">
                            <img src="images/person3.jpg" class="img-thumbnail" alt="person">
                            <h2>Chief Of hiresPRo</h2>
                            <p>
                                <span class="d-block"><span></span> 🎓 Tribhuwan University</span>
                                <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                                <span class="d-block"><span class="icon-phon mr-1"></span>📞 987465125</span><br>
                                <span class="d-block"><span class="icon-facebook mr-1">       &nbsp;  <span
                                        class="icon-instagram mr-1"></span></span></span>

                            </p>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="#" class="h-100 feature-item" style="background-color: #abb5bf">
                            <img src="images/person2.jpg" class="img-thumbnail" alt="person">
                            <h2>Manager Of hiresPRo</h2>
                            <p>
                                <span class="d-block"><span></span> 🎓 Coventry University</span>
                                <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                                <span class="d-block"><span class="icon-phon mr-1"></span>📞 987465125</span><br>
                                <span class="d-block"><span class="icon-facebook mr-1">       &nbsp;  <span
                                        class="icon-instagram mr-1"></span></span></span>

                            </p>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <a href="#" class="h-100 feature-item" style="background-color: #abb5bf">
                            <img src="images/person1.jpg" class="img-thumbnail" alt="person">
                            <h2>Expert Of hiresPRo</h2>
                            <p>
                                <span class="d-block"><span></span> 🎓 Gothe University</span>
                                <span class="d-block"><span class="icon-room"></span> Kathmandu</span>
                                <span class="d-block"><span class="icon-phon mr-1"></span>📞 987465125</span><br>

                                <span class="d-block"><span class="icon-facebook mr-1">       &nbsp;  <span
                                        class="icon-instagram mr-1"></span></span></span>

                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock content %}