{% extends 'base.html' %}

{% block content %}

    <div id="jobpost">
        {% for jobs in jobs_post %}}
            <div class="column">
                <div class="card">
                    <h2>{{ jobs.compname }}</h2>
                    <p class="title"><strong>👨‍🍳</strong>{{ jobs.jtitle }}</p>
                    <p><strong>📍</strong>{{ jobs.location }}</p>
                    <p><strong>Salary 💰 :</strong> {{ jobs.salary }}</p>
                    <p>
                        <button class="btn draw-border">Apply</button>
                    </p>
                    <p>
                        <button class="btn draw-border"><strong>✆</strong> {{ jobs.phno }}</button>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
