{% extends  'providers/AdminLayout.html' %}
<body>
{% block dashcontent %}
<div class="dashboard" id="ExpandDashboard">

<div class="bodyDashboard">
<div class="firstBody">
  <div style="font-size: 22px; width:435px; float:left;">
    <span class="dash">Dashboard</span>
    <div style="font-size: 20px;" class="text_below">Welcome {{ user.fullname }} to hirePros Admin Dashboard</div>
  </div>
  <div class="yellowHover" style="margin-left:auto; height:30px; float:right;">
    <button class="dashButton">{% load static %}
      <img style="height:20px; margin-left:5px; margin-top:2px;"  src="static/Images/setting_icon.png" alt="Setting Icon"/> &nbsp; Settings &nbsp; </button>
  </div>
</div>

<div class="secondBody">

  <a href="/jobpost"><div class="Card">
    <div class="CardHeadS">
      <div style="margin-left: 150px; float:left;">
         {% load static %}
        <img src="static/images/c_Create.png"/>
      </div>
      <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">Post Jobs</h3>
        </span>
      </div>
    </div>
  </div></a>

  <a href="/users"><div class="Card">
    <div class="CardHeadS">
      <div style="margin-left: 150px; float:left;">
         {% load static %}
        <img src="static/images/r_Retrieve.png"/>
      </div>
      <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">Your details</h3>
        </span>
      </div>
    </div>
  </div></a>

  <a href="/users"><div class="Card">
    <div class="CardHeadS">
      <div style="margin-left: 150px; float:left;">
         {% load static %}
        <img src="static/images/u_Update.png"/>
      </div>
      <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">Previous Jobs</h3>
        </span>
      </div>
    </div>
  </div></a>

</div>
</div>
{% endblock dashcontent %}