{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row1">
            <div class="testbox">

                <form class="form" name="jobpostform" method="post" action="{% url 'jobpostformdata' %}">
                    {% csrf_token %}
                    <div class="banner">
                        <h1>Job Application Form</h1>
                    </div>
                    <h2>Suppliant Detail</h2>
                    <div class="item">
                        <p>Name</p>
                        <div class="name-item">
                            <input type="text" name="fname" placeholder="First"/>
                            <input type="text" name="lname" placeholder="Last"/>
                        </div>
                    </div>
                    <div class="item">
                        <p>Phone</p>
                        <input type="text" name="phno" placeholder="Phone number"/>
                    </div>
                    <div class="item">
                        <p>Email</p>
                        <input type="email" name="email" placeholder="Email"/>
                    </div>
                    <div class="item">
                        <p>Company name</p>
                        <input type="text" name="compname" placeholder="Company name"/>
                    </div>
                    <div class="item">
                        <p>Address</p>
                        <input type="text" name="address" placeholder="Address"/>
                    </div>
                    <h2>Job Details</h2>
                    <div class="item">
                        <p>Job Title</p>
                        <input type="text" name="jtitle" placeholder="Job Title"/>
                    </div>
                    <div class="item">
                        <p>Salary</p>
                        <input type="text" name="salary" placeholder="Salary"/>
                    </div>
                    <div class="item">
                        <p>Location</p>
                        <input type="text" name="location" placeholder="📍 Location"/>
                    </div>

                    <div class="question">
                        <p>Privacy Policy<span class="required">*</span></p>
                        <div class="question-answer checkbox-item">
                            <div>
                                <input type="checkbox" value="none" id="check_1" name="check" required/>
                                <label for="check_1" class="check"><span>I agree to the <a
                                        href="#">privacy policy.</a></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="btn-block">
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}