{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row1">
            <div class="testbox">
                <dic class="form" action="/">
                    <div class="banner" style="background-image: url('images/jobimage.jfif');">
                        <h1>Job Application Form</h1>
                    </div>
                    <h2>Suppliant Detail</h2>
                    <div class="item">
                        <p>Name</p>
                        <div class="name-item">
                            <input type="text" name="fname" placeholder="First"/>
                            <input type="text" name="lname" placeholder="Last"/>
                        </div>
                    </div>
                    <div class="item">
                        <p>Phone</p>
                        <input type="text" name="name" placeholder="Phone number"/>
                    </div>
                    <div class="item">
                        <p>Email</p>
                        <input type="text" name="name" placeholder="Email"/>
                    </div>
                    <div class="item">
                        <p>Company name</p>
                        <input type="text" name="name" placeholder="Company name"/>
                    </div>
                    <div class="item">
                        <p>Address</p>
                        <input type="text" name="name" placeholder="Address"/>
                    </div>
                    <h2>Job Details</h2>
                    <div class="item">
                        <p>Job Title</p>
                        <input type="text" name="name" placeholder="Job Title"/>
                    </div>
                    <div class="item">
                        <p>Salary</p>
                        <input type="text" name="name" placeholder="Salary"/>
                    </div>
                    <div class="item">
                        <p>Location</p>
                        <input type="text" name="name" placeholder="📍 Location"/>
                    </div>
                    <h2>Job Poster Details</h2>
                    <div class="item">
                        <p>Contact Name</p>
                        <input type="text" name="name"/>
                    </div>
                    <div class="item">
                        <p>Phone</p>
                        <input type="text" name="name"/>
                    </div>
                    <div class="question">
                        <p>Privacy Policy<span class="required">*</span></p>
                        <div class="question-answer checkbox-item">
                            <div>
                                <input type="checkbox" value="none" id="check_1" name="check" required/>
                                <label for="check_1" class="check"><span>I agree to the <a
                                        href="#">privacy policy.</a></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="btn-block">
                        <button type="submit" href="/">Post</button>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}