{% extends 'base.html' %}
{% load static %}

<body>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Json watson</h2>
                    <p class="title"><span class="icon-camera mr-1"></span> Photographer</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Jon Morrison</h2>
                    <p class="title"><strong>🍴</strong>Dish Washer</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Nick Fury</h2>
                    <p class="title"><strong>🔧</strong>Car Mechanic</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Cory Tayor</h2>
                    <p class="title"><strong>🎵</strong>Singer</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Robert Turjilo</h2>
                    <p class="title"><strong>🎸</strong> Guitarist</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Danny watson</h2>
                    <p class="title"><strong>👨‍💼</strong> Receptionist</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Manish BC</h2>
                    <p class="title"><strong>👨‍⚕️</strong> Doctor</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Ujjwal Huma</h2>
                    <p class="title"><strong>👨‍🏫</strong> PErsonal Teacher</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Ujjwal Budi</h2>
                    <p class="title"><strong>👨‍💻</strong> IT Engineer</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Sabin Buda</h2>
                    <p class="title"><strong>🧺</strong> Dry Cleaner</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Pushpa Dahal</h2>
                    <p class="title"><strong>💂</strong> Gaurdsman</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>KP oli</h2>
                    <p class="title"><strong>🚗</strong> Car Driver</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Bidya Devi</h2>
                    <p class="title"><strong>🍴</strong> Dish Washer</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Json watson</h2>
                    <p class="title"><strong>🔧</strong>Car Mechanic</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Aksah Rai</h2>
                    <p class="title"><strong>🔧</strong>Car Mechanic</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                    <h2>Sanam Parajuli</h2>
                    <p class="title"><strong>🔧</strong>Car Mechanic</p>
                    <p><strong>📍</strong>Kathmandu</p>
                    <p>
                        <button><strong>✆</strong> 986857289</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 113px;"></div>
    <footer class="site-footer">
        <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <h3 class="footer-heading mb-4 text-white">About</h3>
                    <p>JobFind.Com focuses on creating Employment Opportunities,Consulting,Training, as well as to
                        provide Professionals of several fields to various users around the Nation through a Digital
                        Platform.</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Sustainability</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="footer-heading mb-4 text-white">Categories</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Full Time</a></li>
                                <li><a href="#">Freelance</a></li>
                                <li><a href="#">Temporary</a></li>
                                <li><a href="#">Internship</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social</h3></div>
                    <div class="col-md-12">
                        <p>
                            <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                            <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                            <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                            <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        Copyright &copy;
                        <script data-cfasync="false"
                                src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>document.write(new Date().getFullYear());</script>
                        All Rights</a>
                    </p>
                </div>

            </div>
        </div>
    </footer>
    </div>
{% endblock content %}
</body>
