{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>

    <div class="site-wrap">

        <div style="height: 113px;"></div>
        <div class="container">
            <div class="row">
                <div class="search">
                    <div class="filters-group">
                        <input class="textfield filter__search js-shuffle-search" type="search"
                               placeholder="Search Professionals" name="search" pattern=".*\S.*" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="conta" class="row "><!-- /*necessary xaa*/ -->
                <div class="column picture-item" data-title="Photographer">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Json watson</h2>
                                        <p class="picture-item__title"><span class="icon-camera mr-1"></span>
                                            Photographer
                                        </p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Dish Washer">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Jon Morrison</h2>
                                        <p class="picture-item__title"><strong>🍴</strong>Dish Washer</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Car Mechanic">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Nick Fury</h2>
                                        <p class="picture-item__title"><strong>🔧</strong>Car Mechanic</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Singer">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Cory Tayor</h2>
                                        <p class="picture-item__title"><strong>🎵</strong>Singer</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Guitarist">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Robert Turjilo</h2>
                                        <p class="picture-item__title"><strong>🎸</strong> Guitarist</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Receptionist">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Danny watson</h2>
                                        <p class="picture-item__title"><strong>👨‍💼</strong> Receptionist</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Doctor">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Manish BC</h2>
                                        <p class="picture-item__title"><strong>👨‍⚕️</strong> Doctor</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Personal Teacher">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Ujjwal Huma</h2>
                                        <p class="picture-item__title"><strong>👨‍🏫</strong> Personal Teacher</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="IT Engineer">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Ujjwal Buda</h2>
                                        <p class="picture-item__title"><strong>👨‍💻</strong> IT Engineer</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Dry Cleaner">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Sabin Buda</h2>
                                        <p class="picture-item__title"><strong>🧺</strong> Dry Cleaner</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Gaurdsman">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Pushpa Dahal</h2>
                                        <p class="picture-item__title"><strong>💂</strong> Gaurdsman</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Car Driver">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>KP oli</h2>
                                        <p class="picture-item__title"><strong>🚗</strong> Car Driver</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Dish Washer">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Bidya Devi</h2>
                                        <p class="picture-item__title"><strong>🍴</strong>Dish Washer</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column picture-item" data-title="Bike Mechanic">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Peter Schmiicel</h2>
                                        <p class="picture-item__title"><strong>🔧</strong>Bike Mechanic</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Car Mechanic">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Aksah Rai</h2>
                                        <p class="picture-item__title"><strong>🔧</strong>Car Mechanic</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="column picture-item" data-title="Labour">
                    <div class="picture-item__inner">
                        <div class="aspect">
                            <div class="aspect__inner">
                                <div class="card">
                                    <p><img src="images/5.png" style="width:150px;height:auto;padding-top:10px"></p>
                                    <div class="picture-item__details">
                                        <h2>Sanam Parajuli</h2>
                                        <p class="picture-item__title"><strong>👷</strong>Labour</p>
                                    </div>
                                    <p><strong>📍</strong>Kathmandu</p>
                                    <p>
                                        <button><strong>✆</strong> 986857289</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
{% endblock content %}