{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>

    <div style="height: 113px;"></div>

    <div class="conta">
        <div class="forms-conta">
            <div class="signin-signup">
                <fom action="#" class="sign-in-form">
                    <h2 class="title">EMPLOYER Sign in</h2>
                    <form action="/providerlogin" method="post">
                        {% csrf_token %}
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="email" placeholder="email"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="password"/>
                    </div>
                        <button type="submit" class="buton solid"> LOGIN</button>
                    </form>
                    <p class="social-text">Or Sign in with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </fom>
                <fom action="#" class="sign-up-form">
                    <h2 class="title">EMPLOYER Sign up</h2>
                    <form method="post" action="/providersignup">
                        {% csrf_token %}

                        <div class="top-form">
                            <div class="inner-form">
                                <div class="label">Name</div>
                                <input type="text" name="name" placeholder="Your Name">
                            </div>
                            <div class="inner-form">
                                <div class="label">Company Name</div>
                                <input type="text" name="compname" placeholder="Company Name">
                            </div>
                            <div class="inner-form">
                                <div class="label">Email</div>
                                <input type="text" name="email" placeholder="Example@gmail.com">
                            </div>
                            <div class="inner-form">
                                <div class="label">Founded Year</div>
                                <input type="date" name="fyear" placeholder="Founded Year">
                            </div>
                            <div class="inner-form">
                                <div class="label">Phone</div>
                                <input type="text" name="phoneno" placeholder="+977-98********">
                            </div>
                            <div class="inner-form">
                                <div class="label">Password</div>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="middle-form">
                            <div class="inner-form">
                                <div class="label">Company Address</div>
                                <input type="text" name="address" placeholder="Company Address">
                            </div>
                        </div>

                        <div class="bottom-form">
                            <div class="inner-form">
                                <div class="label">Company Description</div>
                                <textarea name="description" placeholder="Your Company Description"></textarea>
                            </div>
                        </div>

                        <button type="submit"> Signup</button>

                    </form>
                </fom>
            </div>
        </div>

        <div class="panels-conta">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Are You New here?</h3>
                    <p>
                        Don't have a account?
                    </p>
                    <button class="buton transparent" id="sign-up-buton">
                        Sign up
                    </button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Are You Already Member?</h3>
                    <p>
                        Login Here..
                    </p>
                    <button class="buton transparent" id="sign-in-buton">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}