<!DOCTYPE html>
<html lang="en">
<head>
  <title> Customer Dashboard | hirePros</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
<meta charset="UTF-8" />
</head>

<body>

<div class="PageNav" id="HideNav">

    <div style="padding-top:20px; margin-left:10px; margin-top:50px; float:left;">
	<ul>
	  <li>
		<a href={% url 'index' %} class="side_link flex_block" >
		  <div>HomePage</div>
		  <div class="arrow" style="float:right; color:white;">&#8811;</div>
		</a>
	  </li>
	  <li>
		<a href={% url 'dashboard' %} class="side_link flex_block" >
		  <div>Dashboard</div>
		  <div class="arrow" style="float:right; color:white;">&#8811;</div>
		</a>
	  </li>
	  <li>
		<a href={% url 'admindash' %} class="side_link flex_block " >
		  <div>Admin</div>
		  <div class="arrow" style="float:right;">&#8811;</div>
		</a>
	  </li>
	  <li>
		<a href={% url 'customerdash' %} class="side_link flex_block active" >
		  <div>Customer</div>
		  <div class="arrow" style="float:right; color:white;">&#8811;</div>
		</a>
	  </li>
	</ul>
	</div>
</div>


<div class="dashboard" id="ExpandDashboard">

<div class="bodyDashboard">
<div class="firstBody">
  <div style="font-size: 22px; width:435px; float:left;">
    <span class="dash">Dashboard</span>
    <div style="font-size: 20px;" class="text_below">Welcome to hirePros Customer Dashboard</div>
  </div>
  <div class="yellowHover" style="margin-left:auto; height:30px; float:right;">
    <button class="dashButton">{% load static %}
      <img style="height:20px; margin-left:5px; margin-top:2px;"  src="static/Images/setting_icon.png" alt="Setting Icon"/> &nbsp; Settings &nbsp; </button>
  </div>
</div>

<div class="secondBody">

  <a href="/createcustomer"><div class="Card">
    <div class="CardHeadS">
      <div style="margin-left: 150px; float:left;">
         {% load static %}
        <img src="static/images/c_Create.png"/>
      </div>
      <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">CREATE CUSTOMER</h3>
        </span>
      </div>
    </div>
  </div></a>

  <a href="/users"><div class="Card">
    <div class="CardHeadS">
      <div style="margin-left: 150px; float:left;">
         {% load static %}
        <img src="static/images/r_Retrieve.png"/>
      </div>
      <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">VIEW CUSTOMERS</h3>
        </span>
      </div>
    </div>
  </div></a>

  <a href="/users"><div class="Card">
    <div class="CardHeadS">
      <div style="margin-left: 150px; float:left;">
         {% load static %}
        <img src="static/images/u_Update.png"/>
      </div>
      <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">EDIT CUSTOMERS</h3>
        </span>
      </div>
    </div>
  </div></a>

  <a href="/users"><div class="Card">
    <div class="CardHeadS">
      <div style="margin-left: 150px; float:left;">
         {% load static %}
        <img src="static/images/d_Delete.png"/>
      </div>
      <div style="float:left; text-align:center; margin-top:35px; margin-left:40px;">
        <span>
          <h3 style="font-size:42px;">DELETE CUSTOMER</h3>
        </span>
      </div>
    </div>
  </div></a>

</div>
</div>

{% load static %}
<script src="{% static 'script.js' %}"></script>

<script>
  $(document).ready(()=>{
    $("#search").keyup(()=>{
      $.ajax({
        data:{search:$("#search").val()},
        url:'/searchUser',
        method:'GET',

        success:function(data){

          $("tr").not("tr:First").remove();
          let html="";
          for(user of data){

            html+="<tr>";
              html+="<td>"+user.user_id+"</td>";
              html+="<td>"+user.user_fullName+"</td>";
              html+="<td>"+user.user_role+"</td>";
              html+="<td>"+user.user_contactNumber+"</td>";
              html+="<td>"+user.user_email+"</td>";
              html+="<td>"+user.user_gender+"</td>";
              html+="<td>"+user.user_dateOfBirth+"</td>";
              {% load static %}
              html+="<td colspan=2><a  href='/editUser/{{ user.user_id }}'class='table_button'><img src='{% static '/Images/edit_icon.png' %}' alt='Edit Icon'/></a> <a  class='table_button' href='/delete/"+user.user_id+"'><img src='{% static 'Images/delete_icon.png' %}' alt='Delete Icon'></a></td>";
            html+="</tr>";
            $("table").append(html);
            }
        },error:function(error){
        console.log(error)
        },complete:function(){
        console.log("complete")
        }
      })
    })
  })
</script>

</body>
</html>