<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin Dash</title>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="../../static/css/dashboardmain.css">

		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="../../static/js/dashboardmain.js"></script>

	</head>
	<body>
		<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>hirePros</span>
			</div>
			<a href="dashindex.html" class="nav-trigger"><span></span></a>
		</div>
		<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>hirePros</span>
			</div>
			<nav>
				<ul>
				<li class="time">
                      <h1 class="animated fadeInLeft">00:00</h1>
                      <p class="animated fadeInRight">Sat,October 1st 2029</p>
                </li>
					<li class="active">
						<a href="charts.html">
							<span><i class="fa fa-user"></i></span>
							<span>Users</span>
						</a>
					</li>
					<li>
						<a href="userdetail.html">

							<span><i class="fa fa-envelope"></i></span>
							<span>User Detail</span>
						</a>
					</li>
					<li>
						<a href="jobforms.html">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>Post and Edit Jobs</span>
						</a>
					</li>
					<!-- <li>
						<a href="#">
							<span><i class="fa fa-credit-card-alt"></i></span>
							<span>Payments</span>
						</a>
					</li> -->
				</ul>
			</nav>
		</div>
		<div class="main-content">
			<div class="title">
				Users
			</div>
			<div class="main">
				<div class="widget">
					<div class="title">Jobs Posted Details</div>
					<div class="chart">
						<table>
	<thead>
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Phone No.</th>
		<th>Selected Category</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Success</td>
		<td>bhabisbhai@gmail.com</td>
		<td>9823009863</td>
		<td>IT</td>
	</tr>
	<tr>
		<td>Success</td>
		<td>bhabisbhai@gmail.com</td>
		<td>9823009863</td>
		<td>IT</td>
	</tr>
	<tr>
		<td>Success</td>
		<td>bhabisbhai@gmail.com</td>
		<td>9823009863</td>
		<td>IT</td>
	</tr>
	<tr>
		<td>Success</td>
		<td>bhabisbhai@gmail.com</td>
		<td>9823009863</td>
		<td>IT</td>
	</tr>
	</tbody>
</table>
						   </div>
					</div>
				</div>
		</div>
	</body>
</html>